In [1]:
import numpy as np
import pandas as pd

In [2]:
training_data = np.load('C://Users//krist//Desktop//ITU//3_semester//machine_learning//MLProject2024//MLProject2024//fashion_train.npy')
test_data = np.load('C://Users//krist//Desktop//ITU//3_semester//machine_learning//MLProject2024//MLProject2024//fashion_test.npy')

In [4]:
df = pd.DataFrame(training_data)


df_2classes = df[df.iloc[:, -1] < 2]
df_2classes.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,3,0,0,0,41,...,63,78,11,0,2,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,32,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,1,1,0,0,0,...,168,119,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,14,...,1,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,26,...,0,0,0,0,0,0,0,0,0,1

### Create subset for fast testing

In [44]:
df_2classes_subset = df_2classes.sample(frac=0.1, random_state=1)
df_2classes_subset.shape

(398, 785)

### Decision tree (Needs water)

In [56]:
def decision_tree(data):
    pass


def split_data(data):
    current_min = 2
    n = len(data)
    for column in data.columns[:-1]:
        for value in data[column].unique():
            split1 = data[data[column] >= value]
            split2 = data[data[column] < value]
            gini1 = gini_impurity(split1)
            gini2 = gini_impurity(split2)
            total = (gini1 * len(split1) + gini2 * len(split2)) / n
            if total < current_min:
                current_min = total
                min_gini = [(current_min, column, value)]
    
    return min_gini



def gini_impurity(data):
    class_counts = np.unique(data.iloc[:, -1], return_counts=True)[1]
    probabilities = class_counts / len(data)
    gini = 1 - np.sum(probabilities ** 2)
    return gini



def train_model(data):
    pass


def predict(data):
    pass

In [57]:
split_data(df_2classes_subset)

[(0.11175029535892148, 664, 1)]