In [26]:
import numpy as np
import pandas as pd

In [27]:
training_data = np.load(f'../fashion_train.npy')
test_data = np.load(f'../fashion_test.npy')

In [77]:
df = pd.DataFrame(training_data)
dftest = pd.DataFrame(test_data)


dftest_2classes =  dftest[dftest.iloc[:, -1] < 2]
df_2classes = df[df.iloc[:, -1] < 2]
df_2classes.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,3,0,0,0,41,...,63,78,11,0,2,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,32,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,1,1,0,0,0,...,168,119,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,14,...,1,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,26,...,0,0,0,0,0,0,0,0,0,1

### Create subset for fast testing

In [29]:
# Split data: 80% sample
df_2classes_subset = df_2classes.sample(frac=0.8, random_state=1)

# Separate the last column to keep it unchanged
last_column = df_2classes_subset.iloc[:, -1]

# Apply transformation to all columns except the last one
df_2classes_subset.iloc[:, :-1] = (df_2classes_subset.iloc[:, :-1] / 255 * 10).round().astype(int)

# Concatenate the transformed data and the last column
df_2classes_subset = pd.concat([df_2classes_subset.iloc[:, :-1], last_column], axis=1)

df_2classes_subset

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
527,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3499,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
3907,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
951,0,0,0,0,0,0,0,0,0,7,...,3,0,0,0,0,0,0,0,0,1
5903,0,0,0,0,0,0,0,0,0,0,...,4,5,4,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7350,0,0,0,0,0,0,0,0,1,1,...,1,0,0,0,0,0,0,0,0,0
4327,0,0,0,0,0,0,0,0,0,1,...,4,5,6,1,0,0,0,0,0,0
5203,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5893,0,0,0,0,0,0,0,0,0,4,...,6,2,0,0,0,0,0,0,0,1

In [78]:
# Split data: 80% sample
test_data_trans = df_2classes.sample(frac=0.8, random_state=1)

# Separate the last column to keep it unchanged
last_column = test_data_trans.iloc[:, -1]

# Apply transformation to all columns except the last one
test_data_trans.iloc[:, :-1] = (test_data_trans.iloc[:, :-1] / 255 * 10).round().astype(int)

# Concatenate the transformed data and the last column
test_data_trans = pd.concat([test_data_trans.iloc[:, :-1], last_column], axis=1)

test_data_trans

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
527,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3499,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
3907,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
951,0,0,0,0,0,0,0,0,0,7,...,3,0,0,0,0,0,0,0,0,1
5903,0,0,0,0,0,0,0,0,0,0,...,4,5,4,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7350,0,0,0,0,0,0,0,0,1,1,...,1,0,0,0,0,0,0,0,0,0
4327,0,0,0,0,0,0,0,0,0,1,...,4,5,6,1,0,0,0,0,0,0
5203,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5893,0,0,0,0,0,0,0,0,0,4,...,6,2,0,0,0,0,0,0,0,1

### Decision tree (Needs water)

In [ ]:
def find_best_split(data):
 
    current_min = 2  # Gini ranges from 0 to 1; this initializes a high value.
    best_split1, best_split2 = None, None
    split_info = None
    n = len(data)
 
    for column in data.columns[:-1]:
        # Sort data by the column for efficient split calculations
        sorted_data = data.sort_values(by=column)
        values = sorted_data[column].values
        labels = sorted_data[data.columns[-1]].values
 
        # Initialize running totals for calculating Gini efficiently
        left_counts = np.zeros_like(labels, dtype=float)
        right_counts = np.bincount(labels, minlength=2).astype(float)
        total_right = len(labels)
 
        for i in range(len(values) - 1):
            label = labels[i]
            left_counts[label] += 1
            right_counts[label] -= 1
 
            total_left = i + 1
            total_right -= 1
           
 
            # Only consider unique values for splits
            if values[i] == values[i + 1]:
                continue
 
            gini_left = 1.0 - np.sum((left_counts / total_left) ** 2)
            gini_right = 1.0 - np.sum((right_counts / total_right) ** 2)
            weighted_gini = (gini_left * total_left + gini_right * total_right) / n
            
 
            if weighted_gini < current_min:
                current_min = weighted_gini
                split_info = [current_min, column, values[i]]
                best_split1 = sorted_data.iloc[:i + 1]
                best_split2 = sorted_data.iloc[i + 1:]

    Split_majoritys=[(best_split1[data.columns[-1]].mode().iloc[0]),best_split2[data.columns[-1]].mode().iloc[0]]
 
    return split_info,Split_majoritys

In [58]:
k = 4
splits = {i: [] for i in range(k)}

def split_data(data,level):
    result=find_best_split(data)
    gini,column,value=result[0]
    left_majority,right_majority=result[1]
    df1 = data[data[column] > value]
    df2 = data[data[column] <= value]

  # Update splits dictionary
    splits[level].append((gini,column,value,left_majority,right_majority))
    #splits[level].append((len(data), split_index))


    # Recursive splitting until level reaches `k`
    if level + 1 < k:
        split_data(df1, level + 1)
        split_data(df2, level + 1)


split_data(df_2classes_subset,0)

In [59]:
print(splits[0])
print(splits[1])
print(splits[2])
print(splits[3])

[(0.13929242068351066, 546, 0, 1, 0)]
[(0.08119985739062997, 624, 0, 1, 0), (0.014698553709253388, 549, 0, 0, 1)]
[(0.04726488137001606, 657, 0, 1, 0), (0.07650273224043716, 147, 1, 1, 0), (0.0029303807658104734, 96, 1, 0, 1), (0.16875, 435, 7, 0, 1)]
[(0.029141390881893124, 658, 0, 1, 0), (0.1575224292615597, 660, 1, 0, 1), (0.0, 7, 0, 0, 0), (0.0322342972923191, 524, 0, 1, 0), (0.0, 574, 2, 1, 0), (0.0, 7, 0, 0, 0), (0.0, 9, 1, 1, 0), (0.0, 5, 0, 0, 1)]

In [133]:
def predict(row):
    lastcheck=0
    depth=len(splits)-1
    for i in range(depth):
        if row[splits[i][lastcheck][1]] > splits[i][lastcheck][2]:
            lastcheck=2*i+0
        else:
            lastcheck=2*i+1
    if row[splits[depth][lastcheck][1]] > splits[depth][lastcheck][2]:
        return splits[depth][lastcheck][4]
    else:
        return splits[depth][lastcheck][3]

In [132]:
from sklearn.metrics import confusion_matrix, accuracy_score

# Generate predictions, passing each row in test_data_trans to predict
predictions = []

for k in range(test_data_trans.shape[0]):
    predictions.append(predict(list(test_data_trans.iloc[k]))) 
    
predictions

# Assuming the last element in each row is the true label
true_labels  = list(test_data_trans.iloc[:, -1])

print(len(predictions))
print(len(true_labels))

# Calculate the confusion matrix and accuracy
conf_matrix = confusion_matrix(true_labels, predictions)
accuracy = accuracy_score(true_labels, predictions)

print("Confusion Matrix:")
print(conf_matrix)
print(f"Accuracy: {accuracy * 100:.2f}%")

3184
3184
Confusion Matrix:
[[1497   99]
 [ 154 1434]]
Accuracy: 92.05%